# Proyecto de mineria de Datos - Electiva III Datos

## **Descripcion del proyecto**
--- 

**Modelo predictivo para la desercion de estudiantes en la Institucion Universitaria Digital de Antioquia**

bla bla bla

## Fase 2 - Comprension de los datos

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [25]:
import importlib
from utils import data_utils

In [26]:
dutil = data_utils()

In [2]:
df_1 = pd.read_csv('resources/IUDigital.csv')
df_2 = pd.read_csv('resources/estratos_colombia_detallado.csv')

In [7]:
# Primeras lineas de los datasets
df_1.head()

,AÑO,SEMESTRE,SEXO BIOLOGICO,PROGRAMA,PAIS NACIMIENTO,DEPARTAMENTO NACIMIENTO,MUNICIPIO NACIMIENTO,NUMERO MATERIAS INSCRITAS,NUMERO MATERIAS APROBADAS,NIVEL_ACADEMICO,ESTRATO,ESTUDIANTE_ID,DESERCION
0,2024,1,M,ADMINISTRACIÓN DE EMPRESAS,Colombia,Antioquia,Medellín,7.0,5.0,Pregrado,2,05aa3593,1.0
1,2024,1,M,Ingeniería de Software y Datos,Colombia,Norte de Santander,San José de Cúcuta,5.0,5.0,Pregrado,2,ca26aead,0.0
2,2024,1,F,ADMINISTRACIÓN DE EMPRESAS TURÍSTICAS Y HOTELERAS,Colombia,Magdalena,Plato,6.0,3.0,Pregrado,1,220d3011,0.0
3,2024,1,M,INGENIERÍA MECATRÓNICA,Colombia,Santander,Bucaramanga,6.0,0.0,Pregrado,3,c796be2b,1.0
4,2024,1,F,TRABAJO SOCIAL,Colombia,Antioquia,Santa Bárbara,5.0,4.0,Pregrado,2,0b4e80e2,NaN

In [6]:
df_2.head()

,Estrato,Nombre,Descripción,Nivel de Ingreso Promedio (COP),Acceso a Servicios Públicos,Tipo de Vivienda Común,Contribución o Subsidio,Ejemplo de Ciudades con este Estrato
0,1,Bajo-Bajo,"Zonas con infraestructura precaria, viviendas ...",Menos de 1 SMMLV,"Limitado, con interrupciones frecuentes.",Casas improvisadas o en asentamientos informales.,Recibe alto subsidio en servicios públicos.,Barrios periféricos en ciudades como Bogotá (C...
1,2,Bajo,Barrios con acceso parcial a servicios básicos...,Entre 1 y 2 SMMLV,"Básico, con algunas limitaciones en calidad.",Casas de interés social o en barrios populares.,Recibe subsidios en servicios públicos.,Barrios populares en ciudades principales y mu...
2,3,Medio-Bajo,"Sectores con acceso a servicios públicos, vivi...",Entre 2 y 4 SMMLV,"Completo, aunque con posibilidad de fallos.",Casas y apartamentos de nivel medio.,No recibe subsidios ni contribuciones.,Sectores de clase media emergente en ciudades ...
3,4,Medio,"Zonas urbanas con infraestructura completa, vi...",Entre 4 y 10 SMMLV,"Óptimo, con buena calidad.",Casas y apartamentos en sectores tradicionales.,Tarifa estándar en servicios públicos.,Zonas urbanas con población de clase media est...
4,5,Medio-Alto,"Sectores con edificaciones modernas, acceso a ...",Entre 10 y 20 SMMLV,"Excelente, con disponibilidad garantizada.",Edificios modernos y condominios residenciales.,Contribuye al subsidio de los estratos bajos.,Barrios residenciales en sectores de alto desa...

In [ ]:
# Tamaño del dataset
print(dutil.get_basic_data(df_1))

result: El dataset tiene 23860 filas y 13 columas

In [27]:
dutil.get_complete_info(df_1, {'show': True})

-------------- DATA INFO --------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23860 entries, 0 to 23859
Data columns (total 13 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   AÑO                        23860 non-null  int64
 1   SEMESTRE                   23860 non-null  int64
 2   SEXO BIOLOGICO             23860 non-null  object
 3   PROGRAMA                   23860 non-null  object
 4   PAIS NACIMIENTO            23860 non-null  object
 5   DEPARTAMENTO NACIMIENTO    23758 non-null  object
 6   MUNICIPIO NACIMIENTO       23758 non-null  object
 7   NUMERO MATERIAS INSCRITAS  22434 non-null  float64
 8   NUMERO MATERIAS APROBADAS  22434 non-null  float64
 9   NIVEL_ACADEMICO            23860 non-null  object
 10  ESTRATO                    21008 non-null  object
 11  ESTUDIANTE_ID              23860 non-null  object
 12  DESERCION                  22737 non-null  object
dtypes: float64(2), int64(2), object(9)
memory usage: 2.4+ MB
None
AÑO                             0
SEMESTRE                        0
SEXO BIOLOGICO                  0
PROGRAMA                        0
PAIS NACIMIENTO                 0
DEPARTAMENTO NACIMIENTO       102
MUNICIPIO NACIMIENTO          102
NUMERO MATERIAS INSCRITAS    1426
NUMERO MATERIAS APROBADAS    1426
NIVEL_ACADEMICO                 0
ESTRATO                      2852
ESTUDIANTE_ID                   0
DESERCION                    1123
dtype: int64
           AÑO     SEMESTRE  NUMERO MATERIAS INSCRITAS  \
count  23860.0  23860.00000               22434.000000
mean    2024.0      1.50000                   6.046224
std        0.0      0.50001                   1.906253
min     2024.0      1.00000                   1.000000
25%     2024.0      1.00000                   5.000000
50%     2024.0      1.50000                   7.000000
75%     2024.0      2.00000                   7.000000
max     2024.0      2.00000                  12.000000

       NUMERO MATERIAS APROBADAS
count               22434.000000
mean                    4.538602
std                     2.842710
min                     0.000000
25%                     2.000000
50%                     5.000000
75%                     7.000000
max                    12.000000
AÑO                              1
SEMESTRE                         2
SEXO BIOLOGICO                   3
PROGRAMA                       110
PAIS NACIMIENTO                  8
DEPARTAMENTO NACIMIENTO         65
MUNICIPIO NACIMIENTO           718
NUMERO MATERIAS INSCRITAS       12
NUMERO MATERIAS APROBADAS       13
NIVEL_ACADEMICO                  3
ESTRATO                          8
ESTUDIANTE_ID                11930
DESERCION                        3
dtype: int64

In [28]:
values = dutil.get_complete_info(df_1, {'all': True})

In [31]:
print(values.get('sum_isnull'))

AÑO                             0
SEMESTRE                        0
SEXO BIOLOGICO                  0
PROGRAMA                        0
PAIS NACIMIENTO                 0
DEPARTAMENTO NACIMIENTO       102
MUNICIPIO NACIMIENTO          102
NUMERO MATERIAS INSCRITAS    1426
NUMERO MATERIAS APROBADAS    1426
NIVEL_ACADEMICO                 0
ESTRATO                      2852
ESTUDIANTE_ID                   0
DESERCION                    1123
dtype: int64

In [32]:
values_2 = dutil.get_complete_info(df_2, {'all': True})

In [35]:
print(values_2.get('sum_isnull'))

Estrato                                 0
Nombre                                  0
Descripción                             0
Nivel de Ingreso Promedio (COP)         0
Acceso a Servicios Públicos             0
Tipo de Vivienda Común                  0
Contribución o Subsidio                 0
Ejemplo de Ciudades con este Estrato    0
dtype: int64

In [ ]:
#dutil.generate_graphic(df_1, x='EDAD', kind='hist', config={'title': 'Distribución de Edades', 'bins': 30, 'color': 'blue'})

In [ ]:
dutil.generate_graphic(df_1, x='')